* {
  margin: 0px;
  padding: 0px;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  font-family: 'Montserrat';
}
li {
  list-style: none;
}
.link {
  display: block;
  text-decoration: none;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1201px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* height: 38px; */
  }
  &-inner__logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
     font-size: 30px;
     line-height: 1;
     color: #fff;
     font-weight: 700;
   }
   &-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  &-list__item {
    margin-right: 35px;
  }
  &-list__item:last-child {
    margin-right: 0;
  }
  &-list__link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; 
    &:hover {
      color:#fce38a;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
    }
  }
  
  
  &-list__link::after, &-list__link--icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin: 12px 0 0;
    background-color: transparent;
  }
  &-list__link:hover::after, &-list__link--icon:hover:after {
    background-color: #fce38a;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  
  }
}




/* start info section */
.info {
  min-height: 100vh;
  /* padding: 229px 0 231px; */
  background-image: url(../images/eagle.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &-wrap {
            width: 100%;
            min-height: 100vh;
            /* height: 100%; */
            padding: 229px 0 231px;
            background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(239, 138, 138, 0.9)),to(rgb(241, 214, 138, 0.9)));
            background-image: -o-linear-gradient(top,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
            background-image: linear-gradient(to bottom,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
          }
          
          &-container {
            max-width: 860px;
            margin: 0 auto;
          }
          &-container__text {
            text-align: center;
            font-family: 'Kaushan Script';
            font-size: 72px;
            line-height: 1.2;
            margin: 0 auto 42px;
            color: #fff;
          } 
          &-container__title {
            max-width: 860px;
            margin: 0 auto 125px;
            text-align: center;
            font-size: 150px;
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase;
            line-height: 1.2;
          }
          
          &-container__button-wrap {
            text-align: center;
          }
          &-container__button {
            display: inline-block;
            padding: 15px 33px;
            border: 2px solid #fff;
            background-color: transparent;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            color: #fff;
          
          }
}


/* start 1 section */

.section {
  padding: 45px 0;
}
.services {
  max-width: 1150px;
  margin: 0 auto;
  /* padding-bottom: 92px; */
  /* background-color: #f38181; */
  &__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  &__item {
    width: 330px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  &__item:nth-child(-n+3) {
    margin-bottom: 100px;
  }
  &__icon::before {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__icon--clock::before {
    background-image: url(../images/img1.png);
   
  }
  &__icon--graphic::before {
    background-image: url(../images/img2.png);
   
  }
  &__icon--monitor::before {
    background-image: url(../images/img3.png);
   
  }
  &__icon--book::before {
    background-image: url(../images/img4.png);
   
  }
  &__icon--home::before {
    background-image: url(../images/img5.png);
  
  }
  &__icon--square::before {
    background-image: url(../images/img6.png);
   
  }
  &__item-title {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 29px;
  }
  &__item-text {
    color: #999999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 61px;
    line-height: 1.3;   
  }
}

.sub-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 22px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  text-transform: none;
  font-weight: 500;
}
.title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 65px;

  &::after {
    content: '';
    display: block;
    width: 61px;
    height: 4px;
    margin: 40px auto 0;
    background-color: #f38181;
  }
}



/* start 2nd section */

.team {
  max-width: 1201px;
  margin: auto;
  &__info {
    width: 941px;
    height: 39px;
    margin: 0 auto 90px;
  }
  &__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    text-align: center;
  }
  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;        
  }
  &__member {
    width: 381px;
  }
  &__member:hover &__avatar {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px  #95e1d3;
            box-shadow: 10px 10px  #95e1d3;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }
  &__avatar {
    position: relative;
    -webkit-box-shadow: 0 0  #95e1d3;
            box-shadow: 0 0  #95e1d3;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    &-img {
      display: block;
      /* width: 100%; */
    }
  }
  
  &__networks-wrap {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgb(239, 138, 138, 0.9)),to(rgb(241, 214, 138, 0.9)));
    background-image: -o-linear-gradient(top,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
    background-image: linear-gradient(to bottom,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
    &:hover {
      opacity: 1;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
    }
  }
  &__networks-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90%;
    &-item {
      margin-right: 1px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__networks-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fce38a;
    width: 57px;
    height: 57px;
    margin: auto;
    &:hover {
      background-color: #f38181;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
    }
  }
  &__networks-link:hover &__networks-icon {
    fill: #ffffff;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }
  &__networks-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    fill: #f38181;
  }
  &__member-name {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 31px;
    text-align: center;
  }
  &__member-about {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    padding-top: 15px;
    font-style: italic;
  }
}

/* footer start */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 54px;
  margin: 0 auto 0;
  border-top: 2px solid #e5e5e5;
  &__text {
    font-size: 14px;
    color: #333333;
    &-color {
      color: #f6a6a6;
    }
  }
  &__form {
    width: 382px;
    height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &-text {
      width: 231px;
      height: 39px;
      padding: 0 10px;
      border: 1px solid #e7e7e7;
      &::-webkit-input-placeholder {
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
      &:-ms-input-placeholder {
        font-style: italic;
      }
      &::-ms-input-placeholder {
        font-style: italic;
      }
      &::placeholder {
        font-style: italic;
      }
    }
  }
  &__button {
    width: 151px;
    height: 41px;
    background-color: #95e1d3;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
}








 /* MEDIA */
 @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info {
      background-image: url(../images/eagle@2x.jpg);
  }
  .services__icon--clock::before {
      background-image: url(../images/img1@2x.png);
     
  }
  .services__icon--graphic::before {
      background-image: url(../images/img2@2x.png);
     
  }
  .services__icon--monitor::before {
      background-image: url(../images/img3@2x.png);
     
  }
  .services__icon--book::before {
      background-image: url(../images/img4@2x.png);
     
  }
  .services__icon--home::before {
      background-image: url(../images/img5@2x.png);
  
  }
  .services__icon--square::before {
      background-image: url(../images/img6@2x.png);
     
  }
 }
